Project details:

<br/><br/>

<ul>
<li>Name: <%= resource.name %></li>
<li>Description: <%= resource.description %></li>
<li><%= link_to "Video", resource.video.url %></li>
<li>Status: <%= resource.status %></li>
<li>Category: <%= resource.category %></li>
<li>Urgency: <%= resource.urgency %></li>
<li>Created: <%= resource.created_at %></li>
<li>Last updated: <%= resource.updated_at %></li>
</ul>


<br />
Estimates
<%= resource.estimates.count %> 

<% resource.estimates.each do | e | %>
  <div>
  <%= e.contractor.name %>
  </div>
<div>
    <%= e.range %>
</div>
<div>
    <%= e.description %>
</div>
<hr/> 
<% end %>
