<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div id="login" class="wrapper">
        <%= image_tag "splash-background.jpg", :class=>"splash" %>
        <div class="body">
            <div class="handybid-name">Handybid</div>
            <div class="login-wrapper">
                <%= f.email_field :email, :class => 'login-input' %>
                <%= f.password_field :password, :class => 'login-input' %>
                <%= f.submit "Log in", :class=>"login-input"%>
                
                <%= render "devise/shared/links" %>
               
            </div>
        </div>
    </div>
<% end %>


